*{
  box-sizing: border-box;
}

body {
  background-image: url("save-the-phants.jpg");
<<<<<<< HEAD
  font: normal 20px helvetica, arial, sans-serif;
=======
  font: normal 24px helvetica;
>>>>>>> f3c22a4aab03901cb593ef565c63921c21a25c85
  margin: 10px;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.column {
  display: block;
  border: solid;
}



ul.guide-main li{
  list-style: none;padding: 0;
  color: black;
}

ul.guide-main li{
  display: inline;
}
.main-header{
  color: white;
  text-align: center;
  background-color: red;
  border-left: 5px;

}
.styling-guide {
  color: black;
  background-color: blue;
  border-radius: 5px;
  padding: 10px 10px;
  transition: all .5s;

}
